# General
.DS_Store
*.log

# Python
__pycache__/
.pytest_cache/
.venv/

# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE
.idea/
.vscode/

# Local env
.env
.env.*

# Credentials
service-account.json
*service-account*.json
