<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVgym9M-Yi8bwrvYoI7lWLiDpenadjLbs</string>
	<key>GCM_SENDER_ID</key>
	<string>66590686803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vocalCoachApp</string>
	<key>PROJECT_ID</key>
	<string>cockatiel-enhanced</string>
	<key>STORAGE_BUCKET</key>
	<string>cockatiel-enhanced.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66590686803:ios:1b811f2e9898b7403510a6</string>
</dict>
</plist>